{% extends 'base.html.twig' %}

{% block title %}Edycja produktu{% endblock %}

{% block body %}

    {{ include('product/_form.html.twig', {'button_label': 'Zaktualizuj'}) }}

    <a href="{{ path('product_index') }}">powrót do listy</a>
{% endblock %}
