{% extends 'base.html.twig' %}

{% block title %}Lista najnowszych produktów{% endblock %}

{% block body %}
    <h1>Lista najnowszych produktów</h1>

    {% if products is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Kanał sprzedaży</th>
                    <th>Czynności</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.channel }}</td>
                        <td>
                            <a href="{{ path('product_show', {'id': product.id}) }}">szczegóły</a>
                            <a href="{{ path('product_edit', {'id': product.id}) }}">edycja</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>brak rekordów</p>
    {% endif %}

    <a href="{{ path('product_new') }}">Utwórz nowy</a>
{% endblock %}
