{% extends 'base.html.twig' %}

{% block title %}Nowy produkt{% endblock %}

{% block body %}
    <h1>Tworzenie nowego produktu</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">powrót do listy</a>
{% endblock %}
