{% extends 'base.html.twig' %}

{% block title %}Szczegóły produktu{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Kanał sprzedaży</th>
                <td>{{ product.channel }}</td>
            </tr>
            <tr>
                <th>Czy aktywny</th>
                <td>{{ product.active ? 'Tak' : 'Nie' }}</td>
            </tr>
            <tr>
                <th>Data utworzenia</th>
                <td>{{ product.createdAt|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">powrót do listy</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edycja</a>

{% endblock %}
